.card-stats h3.card-title, .card-stats h4.card-title {
    text-align: left;
    margin-bottom: 20px;
}

.card-stats h4.card-title label {
    margin-left: 10px;
}

p.card-category {
    text-align: left;    
}

p.card-category::first-word {
    font-weight: bold;
}

.card-stats .card-header .card-category:not([class*=text-]) {
    font-size: 16px;
}

.card [class*=card-header-] {
    margin: 15px 30px;
}

.img-waterfall {
    width: 50%;
}

.img-force {
    width: 90%;
}

.tab-content > .active {
    text-align: center;
}

p.text-xai {
    text-align: left;
    font-size: 12pt;

    margin-left: 12px;
    margin-right: 18px;
}

label.lower {
    font-weight: bold;
    font-size: 12pt;
    color: #0D91FB;
}

label.higher {
    font-weight: bold;
    font-size: 12pt;
    color: #FF0D57;
}

.img-features {
    margin-top: 10px;
    width: 37%;
}

.xai-p-feature {
    font-size: 14pt;
    margin-top: 40px;
}

.select-feature {
    font-size: 14pt;
}

/*NEW*/

th.mat-header-cell {
    font-size: 16px;
    font-weight: bold;
}

td[role='gridcell'], th[role='columnheader'] {
    text-align: center !important;
}

tr.mat-row {
    cursor: pointer;
}

.description-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table {
    width: 100%;
}

.explanation-text {
    margin-left: 2%;
    padding-bottom: 5%;
}

.image-prediction {
    width: 75%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #e0fbff;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

