<!--div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        content
                    </div>
              </div>
          </div>
        </div>
    </div>
</div-->
<div class="main-content">
  <div class="container-fluid">
      <div class="row justify-content-md-center">
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <!--div class="card-icon">
                          <i class="material-icons">label_important</i>
                      </div>
                      <p class="card-category">Used Space</p>
                      <h3 class="card-title">49/50
                          <small>GB</small>
                      </h3>
                      <h3 class="card-title">Suggested Question</h3-->
                      <h4 class="card-title">
                        Which is the capital of Belgium? <br><br>
                        <input type="radio" id="brussels" name="capital" value="brussels">
                        <label for="brussels">Brussels</label><br>
                        <input type="radio" id="lima" name="capital" value="lima">
                        <label for="lima">Lima</label><br>
                        <input type="radio" id="kualalumpur" name="capital" value="kualalumpur">
                        <label for="kualalumpur">Kuala Lumpur</label>
                      </h4>
                  </div>
                  <!--div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a>
                      </div>
                  </div-->
              </div>
          </div>
          <!--div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">announcement</i>
                      </div>
                      <h3 class="card-title">Difficulty</h3><br><br>
                      <p class="card-category">Predicted: 17.29967 of 50 points</p>
                      <p class="card-category">Assigned: 17.3 of 50 points</p>
                      <p class="card-category">Expected: 22.532942 of 50 points</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div-->
          <!--div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Fixed Issues</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Followers</p>
                      <h3 class="card-title">+245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div-->
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title"><!-- TITLE -->Why did I get this question?</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <!--li class="nav-item">
                                    <a mat-button class="nav-link active" href="#features" data-toggle="tab">
                                        <i class="material-icons">featured_play_list</i> Features
                                        <div class="ripple-container"></div>
                                    </a>
                                </li-->
                                <li class="nav-item">
                                    <a mat-button class="nav-link active" href="#features" data-toggle="tab">
                                        <i class="material-icons">label_important</i> Features 
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link " href="#importance" data-toggle="tab">
                                        <i class="material-icons">waterfall_chart</i> Importance
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#waterfall" data-toggle="tab">
                                        <i class="material-icons">waterfall_chart</i> Waterfall
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#force" data-toggle="tab">
                                        <i class="material-icons">bubble_chart</i> Force
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                
                                <!--li class="nav-item">
                                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                        <i class="material-icons">cloud</i> Server
                                        <div class="ripple-container"></div>
                                    </a>
                                </li-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <!--div class="tab-pane" id="features">
                            <img class="img img-features" src="./assets/img/features_values.JPG" />
                        </div-->
                        <div class="tab-pane active" id="importance">
                            <!--table class="table table-hover">
                                <thead class="text-warning">
                                    <th>Importance</th>
                                    <th>Feature</th>
                                    <th>Influence</th>
                                    <th>Value (Points)</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Feature 13</td>
                                        <td>Negative</td>
                                        <td>-5.194999</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Feature 6</td>
                                        <td>Negative</td>
                                        <td>-1.852002</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Feature 5</td>
                                        <td>Positive</td>
                                        <td>1.446672</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Feature 7</td>
                                        <td>Negative</td>
                                        <td>-1.158899</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Feature 10</td>
                                        <td>Positive</td>
                                        <td>1.008861</td>
                                    </tr>
                                </tbody>
                            </table-->
                        </div>
                        <div class="tab-pane" id="waterfall">
                            <!--p class="text-xai"> Top-5 features contributors from expected value (22.532942) to predicted value (17.29967): <br><br>  
                                <label class="lower">Feature 13</label> has negative (<label class="lower">-5.19 points</label>)  impact, 
                                <label class="lower">Feature 6</label> has negative (<label class="lower">-1.85 points</label>) impact, 
                                <label class="higher">Feature 5</label> has positive (<label class="higher">1.45 points</label>) impact, 
                                <label class="lower">Feature 7</label> has negative (<label class="lower">-1.16 points</label>) impact and 
                                <label class="higher">Feature 10</label> has positive (<label class="higher">1.01 points</label>) impact.
                            </p>
                            <img class="img img-waterfall" src="./assets/img/waterfall.jpg" /-->
                        </div>
                        <div class="tab-pane" id="force">
                            <!--p class="text-xai"> Top-5 features values to obtain the predicted value: <br><br>  
                                <label class="lower">Feature 13</label>, <label class="lower">Feature 6</label> and <label class="lower">Feature 7</label> has a <label class="lower">negative</label> impact on the difficulty value. 
                                The Feature 13 value of this question is 25.41 which is higher than average value 13. 
                                The Feature 6 value of this question is 5.856 which is lower than average value 6. 
                                The Feature 7 value of this question is 97.0 which is higher than average value 69. 
                                So it pushes the prediction to the <label class="lower">left</label>.<br><br>
                                <label class="higher">Feature 5</label> and <label class="higher">Feature 10</label> has a <label class="higher">positive</label> impact on the difficulty value. 
                                The Feature 5 value of this question is 0.581 which is higher than average value 1. 
                                The Feature 10 value of this question is 188.0 which is lower than average value 408. 
                                It pushes the prediction to the <label class="higher">right</label>.
                            </p>
                            <img class="img img-force" src="./assets/img/force.jpg" /-->
                        </div>
                        <div class="tab-pane" id="features">
                            <!--mat-form-field class="example-full-width">
                                <mat-label class="select-feature">Choose a feature: </mat-label>
                                <mat-select [(ngModel)]="selectedValue" class="select-feature">
                                    <mat-option *ngFor="let feature of featureList" (click)="select(feature.description)" [value]="feature.name">{{feature.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <p class="xai-p-feature">{{selectedDescription}}</p>
                            <img class="img img-features" src="./assets/img/{{selectedValue}}.jpg" /-->

                        </div>
                        <!--div class="tab-pane" id="settings">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
        <!--div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Employees Stats</h4>
                    <p class="card-category">New employees on 15th September, 2016</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Salary</th>
                            <th>Country</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36,738</td>
                                <td>Niger</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Minerva Hooper</td>
                                <td>$23,789</td>
                                <td>Curaçao</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sage Rodriguez</td>
                                <td>$56,142</td>
                                <td>Netherlands</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Philip Chaney</td>
                                <td>$38,735</td>
                                <td>Korea, South</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div-->
    </div>
      
  </div>
</div>
