<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-success">
              <h4 class="card-title ">Suggested Questions</h4>
              <p class="card-category">Top-5 features</p>
              <!--p class="card-category">Handcrafted by our friend
                  <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
                  <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
              </p-->
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                    <apx-chart
                        [series]="chartOptions.series"
                        [chart]="chartOptions.chart"
                        [xaxis]="chartOptions.xaxis"
                        [fill]="chartOptions.fill"
                        [dataLabels]="chartOptions.dataLabels"
                        [title]="chartOptions.title"
                        [yaxis]="chartOptions.yaxis"
                    ></apx-chart>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
