<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Features' Questions</h4>
                      <p class="card-category">Tailor these features as your prefer.</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row border-top pt-4 pb-4">
                            <div class="col-md-6 border-right">
                              <h4 class="card-title">Reading time (sec)</h4>
                              <!--mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="10" min="17" max="90" value='23'>
                              </mat-slider-->
                              <!--div class="element-30"-->
                              <ngx-slider 
                                  [(value)]="minValueRT" 
                                  [(highValue)]="maxValueRT" 
                                  [options]="optionsRT">
                              </ngx-slider>
                              <!--/div-->
                              
                            </div>
                            <div class="col-md-6 border-right">
                              <h4 class="card-title">Answering time (sec)</h4>
                              <!--mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="10" min="17" max="90" value='23'>
                              </mat-slider-->
                              <!--div class="element-30"-->
                              <ngx-slider 
                                  [(value)]="minValueAT" 
                                  [(highValue)]="maxValueAT" 
                                  [options]="optionsAT">
                              </ngx-slider>
                              <!--/div-->
                              
                            </div>
                          </div>
                          <div class="row border-top pt-4 pb-4">
                            <div class="col-md-6">
                              <h4 class="card-title">Difficulty</h4>
                              <!--mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="10" min="1" max="100" value='45'>
                              </mat-slider-->
                              <!--div class="element-30"-->
                              <ngx-slider 
                                    [(value)]="minValueDifficulty" 
                                    [(highValue)]="maxValueDifficulty" 
                                    [options]="optionsDifficulty">
                              </ngx-slider>
                              <!--/div-->
                            </div>
                            <div class="col-md-6 border-right">
                              <h4 class="card-title">Number of lines</h4>
                              <mat-select [(value)]="selectedLines">
                                <mat-option value="Lines 1">Lines 1</mat-option>
                                <mat-option value="Lines 2">Lines 2</mat-option>
                                <mat-option value="Lines 3">Lines 3</mat-option>
                                <mat-option value="Lines 4">Lines 4</mat-option>
                                <mat-option value="Lines 5">Lines 5</mat-option>
                                <mat-option value="Lines 6">Lines 6</mat-option>
                                <mat-option value="Lines 7">Lines 7</mat-option>
                                <mat-option value="Lines 8">Lines 8</mat-option>
                                <mat-option value="Lines 9">Lines 9</mat-option>
                              </mat-select>
                            </div>
                          </div>
                          <!--div class="row border-top pt-4 pb-4">
                            
                          </div-->
                          <div class="row border-top pt-4 pb-4">
                            <div class="col-md-6 border-right">
                              <h4 class="card-title">Unit</h4>
                              <mat-select [(value)]="selectedUnit">
                                <mat-option value="Unit 1">Unit 1</mat-option>
                                <mat-option value="Unit 2">Unit 2</mat-option>
                                <mat-option value="Unit 3">Unit 3</mat-option>
                                <mat-option value="Unit 4">Unit 4</mat-option>
                                <mat-option value="Unit 5">Unit 5</mat-option>
                                <mat-option value="Unit 6">Unit 6</mat-option>
                                <mat-option value="Unit 7">Unit 7</mat-option>
                              </mat-select>
                            </div>
                            <div class="col-md-6">
                              <h4 class="card-title">Bloom taxonomy</h4>
                              <!--mat-radio-group
                              aria-labelledby="example-radio-group-label"
                              class="example-radio-group"
                              [(ngModel)]="favoriteSeason">
                              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                                {{season}}
                              </mat-radio-button>
                              </mat-radio-group-->
                              <mat-select [(value)]="selectedTax">
                                <mat-option value="Remember">Remember</mat-option>
                                <mat-option value="Understand">Understand</mat-option>
                                <mat-option value="Apply">Apply</mat-option>
                                <mat-option value="Analyze">Analyze</mat-option>
                                <mat-option value="Evaluate">Evaluate</mat-option>
                                <mat-option value="Create">Create</mat-option>
                              </mat-select>
                            </div>
                          </div>
                          <!--div class="row border-top pt-4">
                            
                          </div-->
                          <div class="row border-top pt-4 pb-4">
                            <div class="col-md-6 border-right">
                              <h4 class="card-title">Class</h4>
                              <mat-select [(value)]="selectedClass">
                                <mat-option value="345">345</mat-option>
                                <mat-option value="201">201</mat-option>
                                <mat-option value="123">123</mat-option>
                              </mat-select>
                            </div>
                            <div class="col-md-6">
                              <h4 class="card-title">Subject</h4>
                              <mat-select [(value)]="selectedSubject">
                                <mat-option value="Geography">Geography</mat-option>
                                <mat-option value="Chemestry">Chemestry</mat-option>
                                <mat-option value="Physics">Physics</mat-option>
                              </mat-select>
                            </div>
                          </div>
                          <!--div class="row border-top pt-4 pb-4">
                            
                          </div-->
                          <!--div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                  <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div-->
                          <button mat-raised-button type="submit" class="btn btn-success pull-right">Search</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <!--h6 class="card-category text-gray">CEO / Co-Founder</h6-->
                      <h4 class="card-title">Nick Fury</h4>
                      <p class="card-description">
                          Secondary school teacher
                      </p>
                      <h4 class="card-title preferences">Favorite features' question</h4>
                      <ul class="preferences">
                        <li>Reading time: {{minValueRT}} - {{maxValueRT}} (sec)</li>
                        <li>Answering time: {{minValueAT}} - {{maxValueAT}} (sec)</li>
                        <li>Difficulty: {{minValueDifficulty}} to {{maxValueDifficulty}} of 100</li>
                        <li>Lines: {{selectedLines}}</li>
                        <li>Unit: {{selectedUnit}}</li>
                        <li>Bloom taxonomy: {{selectedTax}}</li>
                        <li>Class: {{selectedClass}}</li>
                        <li>Subject: {{selectedSubject}}</li>
                      </ul>
                      <!--a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a-->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
